<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookingticket">
    <!-- Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookingTicket"
        android:usesCleartextTraffic="true">
        <activity android:name=".PickTimeActivity">

        </activity>
        <!-- Done -->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Done -->
        <activity android:name=".RegisterActivity">

        </activity>
        <!-- Done -->
        <activity android:name=".DashboardActivity">

        </activity>
        <activity android:name=".MovieActivity">

        </activity>
        <activity android:name=".ForgotActivity">

        </activity>
        <activity android:name=".HistoryActivity">

        </activity>
        <!-- Done -->
        <activity android:name=".AppInfoActivity">

        </activity>
    </application>

</manifest>